<!DOCTYPE html>
<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <% if (isDev) { %> <% include ./components/reloader.ejs %> <% } %>
  </head>
  <body>
    <h1>Mini Message Board</h1>
    <p>Welcome!</p>
  </body>
</html>
