<!DOCTYPE html>
<html lang="en" class="text-[14px]">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <% if (isDev) { %> <% include ./components/reloader.ejs %> <% } %>
  </head>
  <body class="grid gap-8 p-16">
    <header class="grid justify-items-start gap-4">
      <div>
        <h1 class="text-4xl font-bold">Mini Message Board</h1>
        <p>Welcome!</p>
      </div>
      <a href="/new" class="px-3 py-2 bg-blue-300">Post New Message</a>
    </header>

    <ol>
      <% messages.forEach(({text, user, added}) => { %>

      <li class="flex gap-3 items-start">
        <header class="flex gap-2 items-center">
          <div class="w-max text-zinc-400 text-xs font-mono select-none">
            <%= added %>
          </div>
          <h4 class="flex gap-1">
            <% if (user === null) { %>
            <div class="italic text-zinc-500">Anonymous</div>
            <% } else { %>
            <div class="font-bold"><%= user %></div>
            <% } %> <%# Separate div to not be selectable %>
            <div>:</div>
          </h4>
        </header>
        <p><%= text %></p>
      </li>

      <% }) %>
    </ol>
  </body>
</html>
